@import "tailwindcss";

:root {
  --background: #fdfbfb;
  --foreground: #334155;
  --primary: #f472b6; /* Pink 400 */
  --primary-foreground: #ffffff;
  --secondary: #60a5fa; /* Blue 400 */
  --secondary-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #334155;
  --border: #e2e8f0;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #fbcfe8; /* Pink 200 */
  --accent-foreground: #be185d; /* Pink 700 */
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --success: #10b981;
  --success-foreground: #ffffff;
  --radius: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --radius-xl: var(--radius);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  @apply antialiased selection:bg-primary/30;
}

/* Fix untuk Microsoft Edge: Menyembunyikan icon mata (password) dan silang (clear) bawaan Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Menyembunyikan panah atas-bawah (spinner) pada input bertipe number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
